.logo{
  height: 30px;
  padding: 10px;
}

.header {
  width : 100%;
  height: 54px;
  background-color:lightsteelblue;

}

.item {
  display: flex;
  justify-content: space-between;
}

.icon {
  height: 30px;
  width: 30px;
  padding: 10px;
  color: white;
}

.Menu {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.Login {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.show-menu{
  margin : 0;
  padding: 0;
  padding-left: 20px;
  padding-top: 10px;
  width: 150px;
  height: 100vh;
  position: absolute;
  left: 0px;
  transition: 0.1s;
  visibility:visible;
  }

.hide-menu{
  margin : 0;
  padding: 0;
  padding-left: 20px;
  width: 0px;
  height: 100vh;
  position: absolute;
  // left: -200%;
  transition: 0.02s;
  visibility: hidden;
  }

.show-login{
  margin : 0;
  padding: 0;
  padding-right: 20px;
  padding-top: 10px;
  width: 150px;
  height: 100vh;
  position: absolute;
  right: 0px;
  transition: 0.1s;
  visibility:visible;
  }

.hide-login{
  margin : 0;
  padding: 0;
  padding-right: 20px;
  width: 0px;
  height: 100vh;
  position: absolute;
  // left: -200%;
  transition: 0.02s;
  visibility: hidden;
  }
  

ul {
  list-style: none;
  background-color: white;
}

.menuWrap > ul > li {
  width: 150px;
  line-height: 200%;
}

.menuWrap > ul > hr {
  margin: 10px 0 10px 0;
  width: 130px;
}

.loginWrap > ul > li {
  width: 150px;
  line-height: 200%;
  text-align: right;
}

.loginWrap > ul > hr {
  margin: 10px 0 10px 0;
  width: 130px;
  text-align: right;
}


a {
  text-decoration: none;
  color:black;
}