.pwck {
  margin : 1% 0;
  padding : 1.5%;
  width : 300px;
  border: solid 1px lightgray;
  // border: none;
  // border-radius: 2px 2px;
  // box-shadow: 2px 2px 2px 1px lightgrey;
}

.nick {
  margin : 1% 0;
  padding : 1.5%;
  width : 300px;
  border: solid 1px lightgray;
  // border: none;
  // border-radius: 2px 2px;
  // box-shadow: 2px 2px 2px 1px lightgrey;
}

.sign_up {
  margin : 1% 0;
  padding : 1.5%;
  width : 320px;
  border: none;
  border-radius: 2px 2px;
  background-color:gray;
  color : white;
}

