.blogWrite {
  padding: 20px 0;
  overflow: hidden;
}

.blog_title{
  text-align: left;
  margin: 0 10px 10px 10px;
  padding: 1%;
  cursor: pointer;
}

.write_img {
  float: left;
  border-radius: 20px;
  margin-right: 10px;
  padding: 1%;
  width: 200px;

}

.cart_btn {
  float: right;
  text-align: center;
  border: none;
  border-radius: 2px 2px;
  background-color: lightgray;
  padding: 1%;
  margin: 1%;
  width: 70px;
  position: relative;
  cursor: pointer;
}
