.modify {
  margin : 3% 0;
  padding : 1.5%;
  width : 325px;
  border: solid 1px lightgray;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  // border: none;
  // border-radius: 2px 2px;
  // box-shadow: 2px 2px 2px 1px lightgrey;
}
