.area {
  display: inline-flex;
  margin: 1%;
}
.companion {
  display: inline-flex;
  margin: 1%;
}

.transport {
  display: inline-flex;
  margin: 1%;
}

.search {
  display: inline-flex;
  padding: 5px ;
  margin: 1%;
  width: 400px;
  border: solid 1px lightgray;
}

.btn {
  border: none;
  border-radius: 2px 2px;
  background-color:lightgray;
  padding: 5px;
  margin: 1%;
  width: 70px;
  position: relative;
  // left: 50%;
  cursor: pointer;
  }

  .as {
    text-align: center;
  }