.id {
  margin : 1% 0;
  padding : 1.5%;
  width : 320px;
  border: solid 1px lightgray;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  // border: none;
  // border-radius: 2px 2px;
  // box-shadow: 2px 2px 2px 1px lightgrey;
}

.pw {
  margin : 1% 0;
  padding : 1.5%;
  width : 320px;
  border: solid 1px lightgray;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  // border: none;
  // border-radius: 2px 2px;
  // box-shadow: 2px 2px 2px 1px lightgrey;
}

.login {
  margin : 1% 0;
  padding : 1.5%;
  width : 320px;
  border: none;
  border-radius: 2px 2px;
  background-color:gray;
  color : white;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.kakao {
  margin : 1% 0;
  padding : 1.5%;
  width : 320px;
  border: none;
  border-radius: 2px 2px;
  background-color:#FDCD00;
  color : white;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.naver {
  margin : 1% 0;
  padding : 1.5%;
  width : 320px;
  border: none;
  border-radius: 2px 2px;
  background-color:#04CF5C;
  color : white;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.facebook {
  margin : 1% 0;
  padding : 1.5%;
  width : 320px;
  border: none;
  border-radius: 2px 2px;
  background-color:#1877F2;
  color : white;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.google {
  margin : 1% 0;
  padding : 1.5%;
  width : 320px;
  border: none;
  border-radius: 2px 2px;
  background-color:whitesmoke;
  color : black;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
